<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Supermercado Antojitos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=package_2" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <header>
        <nav class="header-navbar">
            <div>
                @* Si alcanzo, aqui va un icono *@
                <a class="header-navbar-titulo" asp-area="" asp-controller="Home" asp-action="Index">Supermercado
                    Antojitos</a>

            </div>
            <ul class="header-navbar-nav">
                <li class="header-navbar-nav--item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                </li>
                <li class="header-navbar-nav--item">
                    <a asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                </li>
                <li class="header-navbar-nav--item">
                    <a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                </li>
                <li class="header-navbar-nav--item">
                    <a asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contenedor-principal">
        <main role="main" class="">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Success"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>